# kaggle - Learn: Intro to Machine Learning
- https://www.kaggle.com/learn/intro-to-machine-learning
## 2. Basic Data Exploration

In [1]:
import pandas as pd
print('pd.__version__:', pd.__version__)

pd.__version__: 1.5.3

In [2]:
melbourne_df = pd.read_csv('min_melb_data.csv')
display(melbourne_df)
melbourne_df.describe()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2.0,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2.0,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3.0,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3.0,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4.0,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2674,Wheelers Hill,12 Strada Cr,4.0,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
2675,Williamstown,77 Merrett Dr,3.0,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
2676,Williamstown,83 Power St,3.0,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
2677,Williamstown,96 Verdon St,4.0,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
2678,Yarraville,6 Agnes St,4.0,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,2678.000000,2.677000e+03,2677.000000,2677.000000,2677.000000,2677.000000,2655.000000,2677.000000,1503.000000,1692.000000,2677.000000,2677.000000,2677.000000
mean,7.991785,1.167228e+06,9.936235,3111.626448,2.974225,1.568173,1.629379,498.475532,185.334198,1960.656028,-37.819283,145.002603,7250.172581
std,258.226978,6.467142e+05,4.965301,75.759829,0.955126,0.713632,0.946438,1115.995294,1163.387615,37.244583,0.074724,0.094097,3845.308614
min,1.000000,1.310000e+05,1.600000,3011.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1830.000000,-38.174880,144.556660,389.000000
25%,2.000000,7.220000e+05,6.300000,3056.000000,2.000000,1.000000,1.000000,186.000000,96.000000,1930.000000,-37.876100,144.953300,4480.000000
50%,3.000000,1.000000e+06,10.300000,3108.000000,3.000000,1.000000,2.000000,427.000000,130.000000,1965.000000,-37.814900,145.003700,6795.000000
75%,4.000000,1.425000e+06,11.800000,3163.000000,4.000000,2.000000,2.000000,650.000000,180.500000,1995.000000,-37.765200,145.066200,9264.000000
max,13366.000000,5.525000e+06,48.100000,3977.000000,9.000000,7.000000,10.000000,44500.000000,44515.000000,2018.000000,-37.453920,145.412880,21650.000000

### Interpreting Data Description
- __count:__ shows how many rows have non-missing values.
- __mean:__ average
- __std:__ standard deviation, which measures how numerically spread out the values are.
- To interpret the __min, 25%, 50%, 75% and max__ values, imagine sorting each column from lowest to highest value. The first (smallest) value is the min. If you go a quarter way through the list, you'll find a number that is bigger than 25% of the values and smaller than 75% of the values. That is the 25% value (pronounced "25th percentile"). The 50th and 75th percentiles are defined analogously, and the max is the largest number.

## Exercise with IOWA houses prices

In [3]:
# # import pandas as pd
# house_data = pd.read_csv('../../train.csv')
# # summary statistics
# house_data.describe()

In [4]:
# # What is the average lot size (rounded to nearest integer)?
avg_lot_size = round(10516.828082)
avg_lot_size

10517

In [5]:
# As of today, how old is the newest home (current year - the date in which it was built)
newest_home_age = 2023 - 2010
newest_home_age

13

### Think About this (Your) Data

The newest house in your data isn't that new.  A few potential explanations for this:
1. They haven't built new houses where this data was collected.
1. The data was collected a long time ago. Houses built after the data publication wouldn't show up.

If the reason is explanation #1 above, does that affect your trust in the model you build with this data? What about if it is reason #2?

How could you dig into the data to see which explanation is more plausible?

Check out this **[discussion thread](https://www.kaggle.com/learn-forum/60581)** to see what others think or to add your ideas.